body{
    background-color: aqua;
    color: black;
}
.cabecalho{
    background: linear-gradient(to right, aqua 30%, black 30%);
}

.cabecalho img{
    text-align: center;
    width: 40%;
}
.cabecalho h1{
    margin-left: 30%;
}